@page "/ConnectFour"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Connect Four</PageTitle>
@if(!inGame){
    <h3>Room Code</h3>
    <input type="text">
    <p></p>
    <button>Enter Room</button>
    <button>Create Room</button>

    <h3>Local Multiplayer</h3>
    <button>Play Localy</button>
}
<div class="game-board">
    <h1 style="width: 75%; margin: auto; text-align: center;">Connect Four</h1>

    <h3 style="width: 75%; margin: auto; text-align: center;">@subheading</h3>

       @for(int i = 0; i < 6; ++i){
        <div class="game-row">
            @for(int j = 0; j < 7; ++j){
                int r = i, c = j;
                Token t = board.getCell(i,j); 
                string color = (t == Token.red) ? "#ff725b" : (t == Token.blue) ? "#576dc8" : "00f";
                <button class="game-button" style="background-color: @color;" @onclick="() => ButtonPush(c)" ></button>
            }
        </div>
    }
</div>

<p></p> @* I'm sure this is bad but im using a p tag for spacing *@

<div style="width: 75%; margin: auto; text-align: center;"
    <button style="width: 300px; height: 100px;" @onclick="resetBoard">Forfeit Game</button>
</div>

<div>@text</div>

@code {
    [Parameter]
    string subheading = "Click anywhere to place the first tile.";
    public string text = "";
    public bool inGame = false;
    public void ButtonPush(int column){

    }
    public void resetBoard(){

    }
}

